body {
font-family: 'Bungee Shade', cursive;

}

table {
	margin: 20px auto;
}

#gameName {
	font-size: 70px;
	text-align:  center;
	margin: 30px 0 0 0;
}

.square {
	font-size: 70px;
	text-align: center;
	color: white;
}

.greyBox {
	height: 150px;
	width: 150px;
	background: grey;
}

.blackBox {
	height: 150px;
	width: 150px;
	background: black;

}

#resetButton {
	text-align: center;
}

#button {
	height: 80px;
	width: 300px;
	border: 3px double black;
	border-radius: 5px;
	margin: 0px 0 0 0;
	font-family: 'Bungee Shade', cursive;
	font-size: 30px;
	font-weight: bold;

}